<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js lt-ie9">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Umbra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="static/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="static/src/bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="static/src/styles/flickity.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="static/src/styles/nav.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="static/src/styles/site.css" rel="stylesheet" type="text/css" media="all"/>

</head>
<body class="home page page-id-2 page-template page-template-home page-template-home-php">

	<div id="fb-root"></div>

	<div id="menu-overlay"></div>
	<div id="sub-navmenu-overlay" class="hidden-xs"></div>
	<div class="wrapper">
		<header>
			<div class="navbar">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-xs-2">
							<div class="logo-symbol">
								<a href="/">Umbra.</a>
							</div>
						</div>
						<div class="col-md-8 col-xs-8">
							<div class="menu-quick hidden-xs">
								<div class="menu-quick-menu-container"><ul id="menu-quick-menu" class="menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page active"><a href="/" >Home</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/approach" >Approach</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/work" >Work</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/ideas" >Ideas</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
								</ul></div> </div>
							</div>
							<header class="mobile">
								<nav class="mobile-nav-wrap" role="navigation">
									<ul class="mobile-header-nav">
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page active"><a href="/approach" >Approach</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/work">Work</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/ideas">Ideas</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
									</ul>
								</nav>
								<a class="mobile-menu-toggle js-toggle-menu hamburger-menu pull-right" href="#">
									<span class="menu-item"></span>
									<span class="menu-item"></span>
									<span class="menu-item"></span>
								</a>
							</header>

						</div>
					</div>
				</div>
			</header>
				<div id="content">
					<div id="fakeNavBar"></div>

					<section id="what-we-do">

						<div class="hero hero-approach">
							<div class="container">
								<div id="particles-js"></div>
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<h1>Approach.</h1>
										<p>A professional approach, refined over dozens of projects.</p>
									</div> 
								</div> 
							</div> 
						</div> 

						<article id="our-process">
							<div id="our-process-approach" class="container">
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<h2>Meticulous attention to detail.</h2>
										<p>Umbra&#8217;s obsession with detail starts with these three phases.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-md-offset-1 wwd-process-list">
										<div class="icn icn--research"></div>
										<h3>Define.</h3>
										<p>Understand the user context and the challenges.</p>
									</div>
									<div class="col-md-3 col-md-offset-1 wwd-process-list">
										<div class="icn icn--architect"></div>
										<h3>Design.</h3>
										<p>Define a clear vision and a strategic pathway.</p>
									</div>
									<div class="col-md-3 col-md-offset-1 wwd-process-list">
										<div class="icn icn--design"></div>
										<h3>Delight.</h3>
										<p>The eye candy helps create memorable experiences.</p>
									</div>
								</div>
							</div> 
						</article> 
						<article id="research" class="paddingBtm phases">
							<div class="hero hero--process" style="background-image: url(static/assets/approach/define.png)">
								<div class="container">
									<div class="row">
										<div class="col-md-10 col-md-offset-1 phases">
											<span class="phase-number">1</span>
											<h2>Define</h2>
											<p>Strategy and User Research</p>
										</div> 
									</div> 
								</div> 
							</div> 
							<div class="container">
								<div class="row">
									<div class="col-md-9 col-md-offset-1">
										<p>Every project poses a unique challenge. There is no one solution that can be applied
											across all projects. We understand what makes this project unique through market surveys,
											competitor analysis and employee surveys. This sets us on a clearly defined foundation and ready
											to apply our expertise in design and code.
										</p>
										<ul class="dots-list">
											<li>Strategy review</li>
											<li>Brand awareness survey</li>
											<li>Digital effectivness analysis</li>
										</ul>
									</div> 
									<div class="col-md-2 hidden-sm hidden-xs">
										<a href="#architect" class="navigator navigator--arrow navigator--arrow--down js-scrollTo"></a>
									</div> 
								</div> 
								<div class="row">
									<div class="col-md-11 col-md-offset-1">
									</div> 
								</div> 
							</div> 
						</article> 
						<article id="architect" class="paddingBtm">
							<div class="hero hero--process" style="background-image: url(static/assets/approach/design.png)">
								<div class="container">
									<div class="row">
										<div class="col-md-10 col-md-offset-1 phases">
											<span class="phase-number">2</span>
											<h2>Design</h2>
											<p>Building The Experience</p>
										</div> 
									</div> 
								</div> 
							</div> 
							<div class="container">
								<div class="row">
									<div class="col-md-9 col-md-offset-1">
										<p>Using the latest tools and old school pen and paper to build detailed representations
											of the final product, we run it through usability tests. We then refine it and use it as a base
											to set the ball rolling.
										</p>
										<ul class="dots-list">
											<li>Rapid Prototyping</li>
											<li>Animated renders</li>
											<li>Interaction flows</li>
										</ul>
									</div> 
									<div class="col-md-2 hidden-sm hidden-xs">
										<a href="#design" class="navigator navigator--arrow navigator--arrow--down js-scrollTo"></a>
										<a href="#research" class="navigator navigator--arrow navigator--arrow--up js-scrollTo"></a>
									</div> 
								</div> 
								<div class="row">
									<div class="col-md-11 col-md-offset-1">
									</div> 
								</div> 
							</div> 
						</article> 
						<article id="design" class="paddingBtm">
							<div class="hero hero--process" style="background-image: url('static/assets/approach/delight.png')">
								<div class="container">
									<div class="row">
										<div class="col-md-10 col-md-offset-1 phases">
											<span class="phase-number">3</span>
											<h2>Delight.</h2>
											<p>We set about translating the insights into actions.</p>
										</div> 
									</div> 
								</div> 
							</div> 
							<div class="container">
								<div class="row">
									<div class="col-md-9 col-md-offset-1">
										<p>Realising the design is the final step. The finished product, an application of both beauty and brains, is ready to drive your business.</p>
										<ul class="dots-list">
											<li>Coding</li>
											<li>Beta Testing</li>
											<li>Lorem Ipsum</li>
										</ul>
									</div> 
									<div class="col-md-2 hidden-sm hidden-xs">
										<a href="#research" class="navigator navigator--arrow navigator--arrow--up js-scrollTo"></a>
									</div> 
								</div> 
								<div class="row">
									<div class="col-md-11 col-md-offset-1">
									</div> 
								</div> 
							</div> 
						</article> 
						<article id="keyfactors">
							<div class="container">
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<h4>Key qualities</h4>
									</div> 
								</div> 
							</div> 
							<div class="container key-factor-list">
								<div class="row">
									<div class="col-md-2 col-md-offset-1 col-sm-3">
										<div class="key-factor key-factor--ontime"></div>
									</div> 
									<div class="col-md-9 col-sm-9">
										<h3>On Time</h3>
										<p>We have experience meeting dealines in mission critical projects.</p>
									</div> 
								</div> 
								<div class="row">
									<div class="col-md-2 col-md-offset-1 col-sm-3">
										<div class="key-factor key-factor--seductive"></div>
									</div> 
									<div class="col-md-9 col-sm-9">
										<h3>Visually Seductive</h3>
										<p>We visually fine-tune the experiences we deliver to the pixel.</p>
									</div> 
								</div> 
								<div class="row">
									<div class="col-md-2 col-md-offset-1 col-sm-3">
										<div class="key-factor key-factor--tech"></div>
									</div> 
									<div class="col-md-9 col-sm-9">
										<h3>Performance Oriented</h3>
										<p>We strike a fine balance between form and function, making stunning experience delightful.</p>
									</div> 
								</div> 
								<div class="row">
									<div class="col-md-2 col-md-offset-1 col-sm-3">
										<div class="key-factor key-factor--vad"></div>
									</div> 
									<div class="col-md-9 col-sm-9">
										<h3>Strategic Design</h3>
										<p>We ensure that the experience we create drive profits and increase metrics.</p>
									</div> 
								</div> 
							</div> 
						</article> 
						<article id="contact-box">
							<div class="container">
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<a href="/contact#scrolltoform" class="contact-box-wrapper">
											<h3>Start a Project</h3>
											<p>Want to create a delightful experience?</p>
										</a> 
									</div> 
								</div> 
							</div> 
						</article> 
					</section> 
				</div> 
				<footer>
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-push-4 align-center">
								</div>
								<div class="col-md-4 col-md-push-4">
									<ul class="social-list">
										<li>
											<a href="https://www.facebook.com" title="Facebook" target="_blank">facebook</a>
										</li>
										<li>
											<a href="https://twitter.com/" title="Twitter" target="_blank">twitter</a>
										</li>
										<li>
											<a href="https://www.linkedin.com" title="Linkedin" target="_blank">linkedin</a>
										</li>
									</ul>
								</div>
								<div class="col-md-4 col-md-pull-8">
									<p>© 2016 Umbra Inc.</p>
								</div>
							</div>
						</div>
					</footer>
			</div> 

			<script src="static/src/scripts/jquery-2.1.3.js"></script>

			<script src="static/src/scripts/flickity.pkgd.min.js"></script>

			<script src="static/src/scripts/jquery-ui.min.js"></script>

			<script src="static/src/bootstrap/js/bootstrap.min.js"></script>

			<script src="static/src/bootstrap/js/jasny-bootstrap.min.js"></script>

			<script src="static/src/scripts/jquery.readingtime.min.js"></script>

			<script src="static/src/scripts/headroom/headroom.min.js"></script>

			<script src="static/src/scripts/particles.min.js"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>

			<script src="static/src/scripts/main.js"></script>

			<script type="text/javascript" src="static/src/scripts/navigation.js"></script>
		</body>

		</html>