<html lang="en-US" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#" class="no-js lt-ie9">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Umbra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#FFFFFF">
	<meta name="msapplication-navbutton-color" content="#FFFFFF">
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
	<meta name="description" content="#"/>
	<link rel="shortcut icon" href="#">
	<link href="static/src/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/src/bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
	<link href="static/src/styles/flickity.min.css" rel="stylesheet">
	<link rel="stylesheet"  href="static/src/styles/nav.css" type="text/css" media="all"/>
	<link rel="stylesheet"  href="static/src/styles/site.css" type="text/css" media="all"/>
</head>
<body class="home page page-id-2 page-template page-template-home page-template-home-php">

	<div id="menu-overlay"></div>
	<div id="sub-navmenu-overlay" class="hidden-xs"></div>
	<div class="wrapper">
		<header>
			<div class="navbar">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-xs-2">
							<div class="logo-symbol">
								<a href="/">Umbra.</a>
							</div>
						</div>
						<div class="col-md-8 col-xs-8">
							<div class="menu-quick hidden-xs">
								<div class="menu-quick-menu-container"><ul id="menu-quick-menu" class="menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page active"><a href="/" >Home</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/approach" >Approach</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/work" >Work</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/ideas" >Ideas</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
								</ul></div> </div>
							</div>
							<header class="mobile">
								<nav class="mobile-nav-wrap" role="navigation">
									<ul class="mobile-header-nav">
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Home</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page active"><a href="/approach" >Approach</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/work">Work</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/ideas">Ideas</a></li>
										<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Contact</a></li>
									</ul>
								</nav>
								<a class="mobile-menu-toggle js-toggle-menu hamburger-menu pull-right" href="#">
									<span class="menu-item"></span>
									<span class="menu-item"></span>
									<span class="menu-item"></span>
								</a>
							</header>

						</div>
					</div>
				</div>
			</header>
			<div id="content">
				<div id="fakeNavBar"></div>
				<section id="homepage">

					<div  style="background:url(static/assets/img/BG.png) no-repeat; background-size:cover;">
						<div class="hero hero--hp">
							<div class="hero-overlay"></div>
							<div class="container">
								<div class="row">
									<div class="col-lg-12 col-md-offset-1">
										<h1>Stand out,<br> Stand for something,<br> <span>and never stand still.</span></h1>
										<p>We help your business move, adapt and thrive in the digital ecosystem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<article id="experience-design">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<h2>Umbra is a digital experience agency based in Bangalore.</h2>
									<p>We create brand experiences across channels and industries.</p>
								</div>
							</div>
						</div>
					</article>
					<article id="services">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<h4>Services.</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-10 col-sm-12 col-md-offset-1">
									<ul id="core-card-hp" class="core-cards">
										<li class="card">
											<a href="our-core/web-apps/index.html">
												<div class="card-icn card-icn--ux-design"></div>
												<h3>Web Apps</h3>
												<p>A balance between form and function to build reliable yet beautiful web apps.</p>
												<div class="bg-img" style="background-image: url('#')"></div>
												<span class="border"></span>
											</a>
										</li>
										<li class="card">
											<a href="our-core/brand-strategy/index.html">
												<div class="card-icn card-icn--ui-design"></div>
												<h3>Brand Strategy</h3>
												<p>Brands with brains, to stand out and declutter your strategy.</p>
												<div class="bg-img" style="background-image: url('#')"></div>
												<span class="border"></span>
											</a>
										</li>
										<li class="card">
											<a href="our-core/mobile-apps/index.html">
												<div class="card-icn card-icn--mobile-ui"></div>
												<h3>Mobile Apps</h3>
												<p>High performance mobile apps, thoroughly crafted to be a delightful experience.</p>
												<div class="bg-img" style="background-image: url('#')"></div>
												<span class="border"></span>
											</a>
										</li>
										<li class="card">
											<a href="our-core/internet-of-things/index.html">
												<div class="card-icn card-icn--ubiquitous-design"></div>
												<h3>Digital Marketing</h3>
												<p>Target customers with tailor made intuitive, thoughtful and memorable advertising.</p>
												<div class="bg-img" style="background-image: url('#')"></div>
												<span class="border"></span>
											</a>
										</li>
										<li class="card">
											<a href="our-core/wearable-apps/index.html">
												<div class="card-icn card-icn--wearable-apps"></div>
												<h3>Ecommerce Engines</h3>
												<p>Tap the vast resource pool using powerful ecommerce solutions.</p>
												<div class="bg-img" style="background-image: url('#')"></div>
												<span class="border"></span>
											</a>
										</li>
										<li class="card">
											<a href="index32d1.html?page_id=941">
												<div class="card-icn card-icn--social-design"></div>
												<h3>Custom Websites</h3>
												<p>Bespoke, pixel perfect solutions designed using our proprietary rapid design framework.</p>
												<div class="bg-img" style="background-image: url('#')"></div>
												<span class="border"></span>
											</a>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</article>
					<article>
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<h4>Selected Work</h4>
								</div>
							</div>
							<div class="row">
								<ul class="col-md-10 col-md-offset-1 no-padding work-list">
									<li class="col-md-6 col-sm-12">
										<a href="/work">
											<div class="work-img" style="background-image: url(static/assets/work/tennis-guide.png)">
											</div>
											<div class="work-detail">
												<h3>Tennis Guide</h3>
												<p class="work-excerpt">
													Identity and digital presence for a tennis academy. </p>
													<span class="work-border tennis-guide"></span>
												</div>
											</a>
										</li>
										<li class="col-md-6 col-sm-12">
											<a href="/work">
												<div class="work-img" style="background-image: url(static/assets/work/tbm.png)">
												</div>
												<div class="work-detail">
													<h3>The Business Monkeys</h3>
													<p class="work-excerpt">
														Creating a full online ecosystem. </p>
														<span class="work-border tbm"></span>
													</div>
												</a>
											</li>
											<li class="col-md-12 col-sm-12 work-list-big">
												<a href="/work">
													<div class="work-img" style="background-image: url(static/assets/work/gh.png)">
													</div>
													<div class="work-detail">
														<h3>Gurupriya</h3>
														<p class="work-excerpt">
															Breathing new life into the building developers' online presence.</p>
															<span class="work-border gurupriya"></span>
														</div>
													</a>
												</li>
											</ul>
											<div class="align-center center-block">
												<button class="btn btn-primary">View More</button>
											</div>

										</div>
									</div>
								</article>
							</section>
						</div>
						<footer>
							<div class="container">
								<div class="row">
									<div class="col-md-4 col-md-push-4 align-center">
									</div>
									<div class="col-md-4 col-md-push-4">
										<ul class="social-list">
											<li>
												<a href="https://www.facebook.com/TechUmbra" title="Facebook" target="_blank">facebook</a>
											</li>
											<li>
												<a href="https://twitter.com/techumbra" title="Twitter" target="_blank">twitter</a>
											</li>
											<li>
												<a href="https://www.linkedin.com" title="Linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div>
									<div class="col-md-4 col-md-pull-8">
										<p>© 2016 Umbra Inc.</p>
									</div>
								</div>
							</div>
						</footer>
					</div>

					<script src="static/src/scripts/jquery-2.1.3.js"></script>

					<script src="static/src/scripts/flickity.pkgd.min.js"></script>

					<script src="static/src/scripts/jquery-ui.min.js"></script>

					<script src="static/src/bootstrap/js/bootstrap.min.js"></script>

					<script src="static/src/bootstrap/js/jasny-bootstrap.min.js"></script>

					<script src="static/src/scripts/jquery.readingtime.min.js"></script>

					<script src="static/src/scripts/headroom/headroom.min.js"></script>

					<script src="static/src/scripts/particles.min.js"></script>

					<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>

					<script src="static/src/scripts/main.js"></script>

					<script type="text/javascript" src="static/src/scripts/navigation.js"></script>

				</body>
				</html>
